@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Taviraj:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Taviraj:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Taviraj:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

* {
  font-family: "Libre Baskerville", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

$blue: #29d9d5;
$armygreen: #4b5320;
$background: #f5f5dc;
$body: #a15c10;
$black: #111;
$white: #fff;
$light-color: #aaa;
$bg-color: #222;
$black-bg: rgba(17, 17, 17, 0.7);
$border: 0.1rem solid $white;

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

html {
  font-size: 62.5%;
  overflow-x: auto;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;

  &::-webkit-scrollbar {
    width: none;
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  &::-webkit-scrollbar-track {
    background: $black;
  }

  &::-webkit-scrollbar-thumb {
    background: $body;
    border-radius: 5rem;
  }
}

body {
  background: $background;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;

  span {
    color: $body;
    font-size: 2rem;
  }

  h1 {
    font-size: 3rem;
    color: $armygreen;
  }
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: $white;
  border: $border;
  border-radius: 5rem;
  cursor: pointer;
  background: $armygreen;
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);

  &:hover {
    background: $armygreen;
    color: $light-color;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $body;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;

  .navbar a {
    font-size: 1.7rem;
    color: $white;
    display: inline-block;
    margin: 0 1rem;

    &:hover {
      color: $black;
    }
  }

  .btn {
    margin-top: 0;
  }
}

.lg-text h1 {
  color: $white;
}

#menu-btn {
  font-size: 2.5rem;
  color: $white;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 98%;
  border-radius: 1rem;
  background: //linear-gradient($black-bg, $black-bg),
    url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  object-fit: cover;
  background-position: center;
  display: flex;
  min-height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30rem;

  .content {
    text-align: center;
    text-shadow: 4px 4px 6px #484747;

    span {
      font-weight: bolder;
      color: transparent;
      -webkit-text-stroke: 0.1rem $white;
      font-size: 4vw;
      display: block;
    }

    h3 {
      font-size: 6vw;
      color: $white;
    }

    p {
      max-width: 60rem;
      margin: 1rem auto;
      font-size: 1.4rem;
      color: $light-color;
      line-height: 2;
    }
  }
}
.coporate .coporate-container {
  @include grid(27rem);
  margin: 1rem auto;
  margin-top: -4rem;
  background: $body;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 2rem;
  display: flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  .coporate-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .box {
    border-radius: 1rem;
    height: 100%;
    width: 100%;
    border: $border;
    border-width: 0.5rem;
    float: left;
    overflow: hidden;
    background: $armygreen;
    box-shadow: 5px 5px 10px rgba(83, 49, 2, 0.5);

    &:hover img {
      transform: scale(1.1);
    }

    .image {
      height: 17rem;
      overflow: hidden;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .destinations .box-container .box .content .read-more-text {
      display: none;
    }
    .destinations .box-container .box .content .read-more-text--show {
      display: inline;
    }

    .content {
      padding: 2rem;
      text-align: center;

      h3 {
        font-size: 2rem;
        color: $white;
      }

      p {
        padding: 1rem 0;
        font-size: 1.4rem;
        color: $light-color;
        line-height: 2;
      }
    }
  }
}

.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: $bg-color;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;

  form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.5rem;

    .inputBox {
      flex: 1 1 25rem;

      span {
        font-size: 1.4rem;
        color: $light-color;
      }

      input {
        width: 100%;
        padding: 1.2rem 1.4rem;
        border-radius: 5rem;
        border: $border;
        font-size: 1.6rem;
        color: $light-color;
        text-transform: none;
        background: none;
        margin-top: 1rem;
      }
    }

    .btn {
      flex: 1 1 15rem;
    }
  }
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;

  .video-container {
    flex: 1 1 42rem;

    video {
      border-radius: 1rem;
      width: 100%;
    }

    .controls {
      text-align: center;
      padding: 2rem 0;

      span {
        display: inline-block;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background: $body;
        cursor: pointer;
        margin: 0.7rem;

        &:hover {
          background: $armygreen;
        }
      }
    }
  }

  .content {
    flex: 1 1 42rem;
    margin-bottom: 5rem;

    span {
      color: $body;
      font-size: 2rem;
    }

    h3 {
      color: $armygreen;
      font-size: 4rem;
      margin-top: 0.5rem;
    }

    p {
      padding: 1rem 0;
      font-size: 1.4rem;
      color: $armygreen;
      line-height: 2;
      font-weight: 700;
    }
  }
}

.destination .box-container {
  @include grid(32rem);

  .box {
    border-radius: 1rem;
    overflow: hidden;
    background: $armygreen;
    box-shadow: 5px 5px 10px rgba(83, 49, 2, 0.5);

    &:hover img {
      transform: scale(1.1);
    }

    .image {
      height: 20rem;
      overflow: hidden;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .destinations .box-container .box .content .read-more-text {
      display: none;
    }
    .destinations .box-container .box .content .read-more-text--show {
      display: inline;
    }

    .content {
      padding: 2rem;
      text-align: center;

      h3 {
        font-size: 2rem;
        color: $white;
      }

      p {
        padding: 1rem 0;
        font-size: 1.4rem;
        color: $light-color;
        line-height: 2;
      }

      a {
        font-size: 1.7rem;
        color: $blue;

        &:hover i {
          padding-left: 1rem;
        }

        i {
          padding-right: 0.5rem;
        }
      }
    }
  }
}

//package section//
.package .package-container {
  @include grid(32rem);
  .package {
    border-radius: 1rem;
    background: $body;
    margin-top: 2rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    &:hover {
      .image img {
        transform: scale(1.1);
      }
    }

    .image {
      height: 25rem;
      overflow: hidden;
      width: 100%;
      position: relative;
      display: inline-block;
      .day {
        position: absolute;
        bottom: 0;
        left: 5rem;
        transform: translate(-50%, -50%);
        z-index: 1;
        text-align: center;
        font-size: 2rem;
        font-weight: bold;
        color: $armygreen;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .package-content {
      span h3 {
        color: $black;
        font-size: 1.5rem;
        text-align: center;
        justify-content: center;
        margin-top: 1rem;
        font-size: 2.5rem;
      }
      p {
        color: $white;
        margin: 1rem;
        text-align: center;
        font-size: 1.5rem;
        line-height: 2rem;
      }
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          font-size: 2rem;
          color: $white;
          margin: 2rem;
          text-align: center;

          &:hover {
            color: $black;
          }

          i {
            padding-right: 0.5rem;
            color: $black;
          }
        }
      }
      .view {
        color: $white;
      }

      #container-view {
        text-align: center;
        .btn-package {
          margin-top: 0.5rem;
          margin-bottom: 1rem;
          display: inline-block;
          padding: 1rem 3rem;
          font-size: 1.7rem;
          color: $black;
          border: $border;
          border-radius: 5rem;
          cursor: pointer;
          background: none;

          &:hover {
            background: $armygreen;
            color: $white;
          }
        }
      }
      .day {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .day span {
        color: $armygreen;
        font-size: 20px;
      }
    }
  }
}

/* Column container */
.row {
  @include grid(32rem);
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  -ms-flex: 30%; /* IE10 */
  flex: 30%;
  background-color: $armygreen;
  padding: 2rem;
  color: $white;
}

/* Main column */
.main {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
  background-color: $armygreen;
  padding: 2rem;
  color: $blue;
}

//package section ends

//----services---//
.services .box-container {
  @include grid(32rem);

  .box {
    background: $armygreen;
    border-radius: 1rem;
    padding: 0.5rem;
    text-align: center;
    border: 0.2rem solid $black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

    &:hover {
      border: $border;
    }

    i {
      font-size: 4rem;
      color: $light-color;
      margin-bottom: 2rem;
    }

    h3 {
      font-size: 2rem;
      color: $white;
    }

    p {
      padding: 1rem 0;
      font-size: 1.4rem;
      color: $light-color;
      line-height: 2;
    }
  }
}
.services .box-container .box {
  h3 {
    color: $white;
  }
  p h2 {
    color: $white;
  }
}

.itinerary-container {
  width: 80%;
  margin: 1rem auto;
  margin-top: 0.5rem;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px rgba(83, 49, 2, 0.5);
  padding: 3rem 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $armygreen;
  font-size: 3rem;
  display: flexbox;
}
.itinerary {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: $body;
}
//---- gallery section----//

.gallery .box-container {
  columns: 3 25rem;
  column-gap: 1.5rem;

  .box {
    margin-bottom: 1rem;
    break-inside: avoid;

    img {
      width: 100%;
      border-radius: 1rem;
      margin-bottom: 1rem;
    }

    span {
      font-size: 1.4rem;
      color: $armygreen;
    }

    h3 {
      margin-top: 0.5rem;
      font-size: 2rem;
      color: $body;
    }
  }
}

//review...............//

.review {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  .content {
    flex: 1 1 42rem;

    span {
      font-size: 2rem;
      color: $body;
    }

    h3 {
      font-size: 3rem;
      color: $armygreen;
    }

    p {
      font-size: 1rem;
      color: $light-color;
      padding: 1rem 0;
      line-height: 2;
    }
  }

  .box-container {
    flex: 1 1 42rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .box {
      flex: 1 1 20rem;
      border-radius: 1rem;
      padding: 2rem;
      background: $armygreen;
      border: 0.2rem solid $black;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

      &:hover {
        border: $border;
      }

      p {
        font-size: 1rem;
        padding-bottom: 1rem;
        line-height: 2;
        color: $white;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 1rem;

        img {
          height: 5rem;
          width: 5rem;
          border-radius: 50%;
          box-shadow: 5px 5px 10px rgba(252, 251, 251, 0.5);
        }

        h3 {
          font-size: 1.7rem;
          color: $white;
        }

        span {
          color: $light-color;
          font-size: 1.5rem;
        }
      }
    }
  }
}

//blog..............//

.blogs .box-container {
  @include grid(32rem);

  .box {
    border-radius: 1rem;
    background: $body;
    overflow: hidden;

    &:hover {
      .image img {
        transform: scale(1.1);
      }
    }

    .image {
      height: 25rem;
      overflow: hidden;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .content {
      padding: 2rem;

      .link {
        font-size: 2rem;
        color: $white;

        &:hover {
          color: $armygreen;
        }
      }

      p {
        padding: 1rem 0;
        font-size: 1.4rem;
        color: $black;
        line-height: 2;
        font-weight: 700;
      }

      .icon {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
          font-size: 1.4rem;
          color: $white;

          &:hover {
            color: $black;
          }

          i {
            padding-right: 0.5rem;
            color: $black;
          }
        }
      }
    }
  }
}
//end of blog section...............//

//banner section.....................//
.banner {
  background: linear-gradient($black-bg, $black-bg),
    url(../images/banner.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  background-attachment: fixed;
  text-align: center;

  .content {
    span {
      font-size: 2rem;
      color: $body;
      font-weight: bolder;
      text-shadow: 1px 1px 2px #dfdede;
    }

    h3 {
      font-size: 4rem;
      color: $white;
      margin-top: 1rem;
    }

    p {
      max-width: 60rem;
      margin: 1rem auto;
      font-size: 1.4rem;
      color: $light-color;
      line-height: 2;
    }
  }
}

.footer {
  .box-container {
    @include grid(20rem);

    .box {
      padding: 1rem 0;
      column-gap: 0.1rem;

      .logo {
        padding-bottom: 1rem;
      }

      h3 {
        font-size: 2.2rem;
        color: $armygreen;
        padding: 1rem 0;
      }

      p {
        font-size: 1.4rem;
        color: $body;
        padding: 1rem 0;
        line-height: 2;

        i {
          padding-right: 0.5rem;
          color: $black;
        }
      }

      .share {
        padding-top: 1rem;

        a {
          height: 4.5rem;
          width: 4.5rem;
          line-height: 4rem;
          font-size: 2rem;
          border-radius: 50%;
          font-size: 1.7rem;
          border: $border;
          color: $armygreen;
          margin-right: 0.5rem;
          text-align: center;

          &:hover {
            background: $armygreen;
            color: $white;
          }
        }
      }

      .links {
        font-size: 1.4rem;
        color: $body;
        padding: 1rem 0;
        display: block;

        &:hover {
          color: $armygreen;

          i {
            padding-right: 2rem;
          }
        }

        i {
          padding-right: 0.5rem;
          color: $armygreen;
        }
      }

      form .email {
        width: 100%;
        border-radius: 5rem;
        border: $border;
        background: $white;
        font-size: 1.5rem;
        text-transform: none;
        color: $white;
        margin-bottom: 1rem;
        padding: 1.2rem 1.4rem;
      }
    }
  }
}

.credit {
  background: $armygreen;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: $white;

  span {
    color: $white;
  }
}

// media queries

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .header {
    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: $bg-color;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      a {
        margin: 2rem;
        font-size: 2rem;
        display: block;
      }
    }
  }

  .home {
    margin-top: 10rem;

    .content {
      span {
        font-size: 8vw;
      }

      h3 {
        font-size: 9vw;
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about .content h3 {
    font-size: 3.5rem;
  }

  .banner .content h3 {
    font-size: 2.7rem;
  }
}
